<!DOCTYPE html>
<html>
<head>
	<title>Bài test _ Phạm Thị Huế</title>
	<meta charset="utf-8"/>
	<script type="text/javascript" src="lib/react.js"></script>
	<script type="text/javascript" src="lib/react-dom.js"></script>
	<script type="text/javascript" src="lib/browser.min.js"></script>
	<script type="text/javascript" src="lib/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="lib/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap.min.css">
	<style type="text/css">
		
		.table-design{
			width: 90%;
			margin-left: 5%;
			margin-right: 5%;
		}
		.deMuc{
			background-color: #00bdd6;
			color: white;
		}
		.cotDeMuc{
			color: #949494;
		}
		.tenCode{
			color: #0063d6;
		}
		.tenCongTy{
			color: #737373;
		}
		.tenPrice, .tenValue{
			color: #212121;
		}
		.carousel-inner>.item.active,.carousel-inner>.item.next.left,.carousel-inner>.item.prev.right {
			left:0;
			-webkit-transform:translate3d(0,0,0);
			transform:translate3d(0,0,0);
		}
	</style>
</head>
<body>
	<div id="root">
		
	</div>
	<script src="main.js" type="text/babel">
		
	</script>
</body>
</html>